:root {
  --clr-background: #8ecae6;
  --clr-main: #62b6cb;

  --clr-btn: #ffb703;

  --clr-font: #fefae0;

  --ff-family: "Super Mario 256", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-family: var(--ff-family);
}

.wrapper {
  width: 30%;
  height: 40%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--clr-main);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 1rem;
}

.wrapper {
  width: 350px;
}

.lätt .svårt {
  width: 24rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  margin-top: 1rem;
  background-color: var(--clr-btn);
  color: var(--clr-font);
}

button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.lätt {
  background-color: rgb(6, 98, 6);
  color: #fefae0;
  width: 100px;
  border-radius: 8px;
  border: none;
  padding: 3%;
  font-weight: 600;
}

.Svår {
  background-color: rgb(98, 39, 39);
  color: #fefae0;
  width: 100px;
  border-radius: 8px;
  border: none;
  padding: 3%;
  font-weight: 600;
  margin-left: 10px;
}

.Starta {
  --clr-btn: #ffb703;
  color: #878787;
  width: 100px;
  border-radius: 50%;
  border: none;
  padding: 5%;
  font-weight: 900;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nivå,
.Spelare {
  text-align: center;
  font-size: 20px;
}

.nivå {
  margin-top: 0;
}

.name-player-1-data {
  --clr-btn: #ffb703;
  color: #8ecae6;
  width: 300px;
  height: 15px;
  border: none;
  padding: 5%;
  font-weight: 700;
  border-radius: 8px;
}

.hidden-data {
  display: none;
}
